nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 20rem;
}
.navbar-left-main {
  font-weight: 800;
  font-size: 1.5rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

span {
  font-style: italic;
  font-weight: 600;
}

.navbar-right {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.menubar {
  display: none;
}
.navItem-common {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  color: black;
}
.navItem-common:hover {
  color: var(--colour-primary);
}

.navItem-highlight {
  padding: 0.6rem 2rem;
  border-radius: 0.5rem;
  background-color: var(--colour-primary);
  color: white;
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
}
/* for screenwidth < 768px main is hidden and menubar is disply block */
@media (max-width: 1500px) {
  nav {
    padding: 1rem 5rem;
  }
}
@media (max-width: 960px) {
  nav {
    padding: 1rem 2rem;
  }
}

@media (max-width: 768px) {
  nav {
    padding: 1rem 2rem;
  }
  .navbar-right {
    display: none;
  }
  .menubar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
}
