:root {
  font-family: "Source Code Pro",Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  padding: 0;
  margin: 0;
 
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background: #000;

  --colour-primary: #051090;
}

html,body{
  padding: 0;
  margin: 0;
}

.modal::-webkit-scrollbar {
    width: 5px;
  }

.modal::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);
    border-radius: 5px;
}

.modal::-webkit-scrollbar-thumb {
    background: rgb(90, 89, 89);
    border-radius: 5px;
  }

.modal::-webkit-scrollbar-thumb:hover {
    background: rgb(100, 100, 100);
    border-radius: 5px;
  }

.modal::-webkit-scrollbar-thumb:active {
    background: rgb(68, 68, 68);
    border-radius: 5px;
  }
html::-webkit-scrollbar {
    width: 5px;
  }

html::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);
    border-radius: 5px;
}

html::-webkit-scrollbar-thumb {
    background: rgb(136, 136, 136);
    border-radius: 5px;
  }

html::-webkit-scrollbar-thumb:hover {
    background: rgb(100, 100, 100);
    border-radius: 5px;
  }

html::-webkit-scrollbar-thumb:active {
    background: rgb(68, 68, 68);
    border-radius: 5px;
  }


