.scrollable{
    width: 100%;
    opacity: 0.5;
    color: #757474;
    transition: all 0.5s ease-out;
    overflow: visible;
    }

.scrollable:hover{
    opacity: 1;
    color: white;
}

.scrollable-contents{
    height: 1000vh;
    /* background-color is a gradient */
    /* background: linear-gradient(180deg, #051090 0%, #fd0000 100%); */
}