.home-layout {

  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 26;
  background-color: black;
  /* background-attachment: fixed; */
}
.hero-section{
    width: 64.5%;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    gap:23%;
    overflow-x: hidden;
}   

.details {

  padding: 0.7rem 1.5rem;
  display: flex;
  flex-direction: row;
  gap:45%;
  justify-content:flex-start;
}
.vinyl {
  /* fit content */
  position: fixed;
  z-index: 35;
  top:33%;
  left:17%;
  height: 238px;
  width: 238px;
  transform: scale(1);
  transition: all 0.5s ease-out;
}

.experience{
    height: 100%;
    width: 34.5%;
   
}

.socials{
    font-size: 12px;
    color: #757474;
    cursor: pointer;
    font-weight: 700;
}

a{
    text-decoration: none;
    color: #757474;
    font-weight: 400;
    transition: all 0.5s ease-out;
}
a:hover{
    color: #dfdede;
}


li{
    list-style-type: none;
    /* remove the padding too */
}
ul{
    padding: 0;
    margin: 1px;
}

.menu-socials{
    position: absolute;
    z-index: 3;
    top: 3.6rem;
    font-size: 14px;
    transition: all 0.5s ease-out;
    visibility: hidden;
    opacity: 0;
}

.socials:hover > .plusicon{
    transform: rotate(90deg);
}
.socials:hover + .menu-socials{
    visibility: visible;
    opacity: 1;
}
.menu-socials:hover{
    visibility: visible;
    opacity: 1;
}
.socials{
    display: flex;
    justify-content: flex-start;
    gap:5px;
    align-items: center;
}

.plusicon{
    font-size:14px;
    transition: all 0.5s ease-out;
    
}
.place {
    color: #757474;
    font-size: 14px;
}
.designation{
    display: flex;
    flex-direction: column;

}

.divider-text{
    font-size: 12px;
    font-weight: 700;
    color: #505050;
    writing-mode:vertical-lr;
    width: 1%;
    overflow: hidden;
    cursor: default;
    pointer-events: none;
}
.about-section{
    margin-top: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: absolute;
    z-index: 30     ;
    background: #000;
}

.showcase{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    padding: 0 2%;
    margin-bottom: 2rem;
    box-sizing: border-box;
    text-align: justify;
    line-height: 1.5rem;
    font-size: 12px;
    
}

.showcase-media>img{
    /* image width should be maximum available width and adjust heigh accordingly */
   width: 100%;
   height: auto;
    object-fit: cover;
    cursor: pointer;
}

.showcase-media > video{
    width: 100%;
    height: auto;
    object-fit: cover;
    cursor: pointer;
}

.about-content{
    font-size: 12px;
    line-height: 1.5rem;
    text-align: justify;
    padding: 10px }


.myself:hover,.events:hover{
    cursor: url('next.ico'),pointer;
}

.volunteering{
    margin: 5% 2%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: start;
}
.volunteer-item{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.volunteer-item > div{
    width: 100%;
}
.volunteer-year{
    text-align: end;
    color: #505050;
}
.volunteer-title{
    color:#757474;
}
.cursor-gallery{
    position: fixed;
    z-index: 1000;
    width: fit-content;
    height: auto;
    padding:2px 10px;
    border-radius: 50px;
    background-color: #dad9d9; 
    color: black;
}

